<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <a href="/">back to home</a>
    <a href="/categories">all Categories</a>
    <div>
      <h2>category title: <%=category.ctitle%></h2>
      <a href="/categories/<%=category.cid%>/update">update</a>

      <form
        action="/categories/<%= category.cid %>/delete"
        method="POST"
        style="display: inline"
      >
        <button
          type="submit"
          onclick="return confirm('Are you sure you want to delete this category?');"
        >
          Delete
        </button>
      </form>
    </div>
    <div class="items">
      Items in the category <%category.items.forEach((item)=>{%>
      <li><a href="/items/<%= item.iid%>/get"><%= item.ititle%></a></li>
      <%})%>
    </div>
  </body>
</html>
